#!/usr/bin/env bash

export CLOUDSDK_CORE_PROJECT=dev

#export CLOUDSDK_COMPUTE_REGION="eu-west-2"  # defaults to eu-west-2 in ../.envrc

export GKE_CLUSTER=dev
#export GKE_NAMESPACE=dev

# if copying this .envrc to terraform / terragrunt directories in a different part of the repo:
#
#git_root="$(git rev-parse --show-toplevel)"
#
# shellcheck disable=SC1091
#. "$git_root/gcp/.envrc"

. ../.envrc
