#!/usr/bin/env bash
#
# Generated using aws_profile_generate_direnvs.sh from:
#
#   https://github.com/HariSekhon/DevOps-Bash-tools

export AWS_PROFILE=staging

export EKS_CLUSTER=staging
#export EKS_NAMESPACE=staging

#git_root="$(git rev-parse --show-toplevel)"

# shellcheck disable=SC1091
#. "$git_root/aws/.envrc"

. ../.envrc
