#!/usr/bin/env bash

export CLOUDSDK_CORE_PROJECT=prod

#export CLOUDSDK_COMPUTE_REGION="eu-west-2"  # defaults to eu-west-2 in ../.envrc

export GKE_CLUSTER=prod
#export GKE_NAMESPACE=prod

. ../.envrc

# ============================================================================ #
# If copying this .envrc to terraform / terragrunt directories in a different part of the repo

#git_root="$(git rev-parse --show-toplevel)"

# shellcheck disable=SC1091
#. "$git_root/aws/.envrc"

# ============================================================================ #
# If the shared .envrc is in another repo in an adjacent checkout,
# check for its checked out existence and only import it if it's available

#git_root="$(git rev-parse --show-toplevel)"

#envrc="$git_root/../environments/gcp/.envrc"

#if [ -f "$envrc" ]; then
#    # shellcheck disable=SC1090,SC1091
#    . "$envrc"
#fi
