#!/usr/bin/env bash
#
# Generated using aws_profile_generate_direnvs.sh from:
#
#   https://github.com/HariSekhon/DevOps-Bash-tools

export AWS_PROFILE=prod

export EKS_CLUSTER=prod
#export EKS_NAMESPACE=prod

# if copying this .envrc to terraform / terragrunt directories in a different part of the repo:
#
#git_root="$(git rev-parse --show-toplevel)"
#
# shellcheck disable=SC1091
#. "$git_root/aws/.envrc"

. ../.envrc
